<div class ='users'>
    <h2>Users</h2>


    <div class = 'usersContent'>
        <% @users.each do |user| %>
        <div class = 'each_user'>
            <img src = <%= user.photo %> class = 'image'>
            <div class = 'name'>
                <p><%= user.name %></p>
                <a>Number od Posts : <%= user.posts_counter %> </a>
            </div>
            <div class= 'posts'>
                <a class= 'btn' href="<%= user_path(user) %>">See Posts</a>
            </div>
        </div>
        <% end %>
    </div>

</div>